* {
    margin: auto;
    max-width: 1000px;
    background-color: #3F3F3F;
    ;
  }
  
  .container {
    position: static;
    margin: 50px;
    background-color: white;
    border-radius: 30px;
    color: black;
    height: 600px;
  }

.image-login{
position: relative;
align-items: center;
width: 400px;
height: 300px;
left: 270px;
top: 27px;
}

h1{
background-color: aliceblue;    
text-align: center;
margin-top: 50px;
width: 67px;
height: 36px;
left: 40px;
top: 394px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height */

display: flex;
align-items: center;
text-align: justify;

color: #27442E;

}

.email{
text-align: center;
margin-left: 370px;
width: 200px;
height: 20px;
left: 83px;
top: 467px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 16px;

background-color: aliceblue;


}
.password{
  text-align: center;
  margin-left: 370px;
  width: 200px;
  height: 20px;
  left: 83px;
  top: 467px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
  
  background-color: aliceblue;

}